@use '@angular/material' as mat;

html, body {
  font-family: 'Inter', sans-serif !important;
}

@include mat.core();

$theme: mat.define-theme((
  color: (
    theme-type: dark,
    primary: mat.$blue-palette,
    tertiary: mat.$cyan-palette,
  ),
));

@include mat.all-component-themes($theme);

html, body {
  height: 100%;
  margin: 0;
  background-color: #121212;
}